html{
    max-height: 100vh;
}

*{
    box-sizing: border-box;
}

body{
    background-color: rgba(9, 117, 160, 0.788);
    text-align: center;
}

h1,h3{
    text-align: center;
    margin: 5%;
}

h1{
    font-size: 410%;
    margin-bottom: 0;
    color: rgb(35, 96, 211);
}

h3{
    font-size: 150%;
    margin: 10% auto 20%;
    color:rgb(3, 94, 71)
}

.cont_ele{
    display: inline-block;
    margin: 5%;
}

.dice{
    display:flex;
    width:190px;
    flex-wrap: wrap;
    border-radius: 10%;
    background-color: rgba(189, 14, 14, 0.877);
}

.circle{
    border:2px solid ;
    height:50px;
    width:26%;
    margin:3.51315%;
    border-radius: 50%;
    background-color: aquamarine;
    justify-content: center;
}

.btn{
    /* border:2px solid; */
    text-align: center;
}

button{
    text-align: center;
    margin:0 auto;
    padding: 1% 5%;
    font-size: 150%;
    background-color: yellow;
    border-radius: 30px;
    color: rgb(228, 20, 30);
}

button:hover{
    background-color: rgb(91, 10, 99);
    color: rgb(197, 197, 179);
    cursor: pointer;
}

/* ----------------------------------------------- */
.c2,.c5,.c8{
    visibility: hidden;
}
